@model IEnumerable<WebApiDocumentator.Models.EndpointGroupNode>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApiDocumentator.Models
@using WebApiDocumentator.Areas.Docs.Pages
@using WebApiDocumentator.Metadata


<ul>
    @foreach(var node in Model)
    {
        <li>
            <strong>@node.Name</strong>
            @if(node.Endpoints.Any())
            {
                <ul>
                    @foreach(var endpoint in node.Endpoints.OrderBy(e => e.Route).ThenBy(e => e.HttpMethod))
                    {
                        var isSelected = ViewData["SelectedEndpoint"] as ApiEndpointInfo != null && endpoint.Id == (ViewData["SelectedEndpoint"] as ApiEndpointInfo).Id;
                        <li>
                            <a class="endpoint-link @(isSelected ? "selected" : "")" href="?id=@endpoint.Id">
                                <span class="http-method @endpoint.HttpMethod">@endpoint.HttpMethod</span>
                                @endpoint.Route
                            </a>
                        </li>
                    }
                </ul>
            }
            @if(node.Children.Any())
            {
                <partial name="EndpointNode" model="node.Children" view-data="ViewData" />
            }
        </li>
    }
</ul>